# Lists and Tuples <hr styles="border: 3px solid #b41414ff"> </hr>

<b> Rex Orly Mallorca </b>
<br> CompTech Student

# Iterating Over a List

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for n in numbers:
    if n%2 == 0:
      print(n)

2
4
6
8
10

In [2]:
#List Comprehension
numbers = [1,2,3,4,5,6,7,8,9,10]
result = [n for n in numbers if n%2==0]
result

[2, 4, 6, 8, 10]

# Iterating Over a Dictionary

In [6]:
for char in "Python":
    print(char)

P
y
t
h
o
n

In [ ]:
#key-value pair
employee = {'name':['Orly','Regs'],
            'position':['tambay', 'adik'],
            'salary':[100000,80000]}

for key in employee:
    print(key)

name
position
salary

In [15]:
employee['salary']

[100000, 80000]

In [16]:
employee['name']

['Orly', 'Regs']

In [17]:
employee['position']

['tambay', 'adik']

In [18]:
for value in employee.values():
    print(value)

['Orly', 'Regs']
['tambay', 'adik']
[100000, 80000]

# Lamda Function

In [23]:
def mul_b_2(x):
    x = 2*x
    return x

mul_b_2(4)

8

In [40]:
y = 4

x = (lambda x : 2*x) (y)
x

8

In [41]:
type(x)

int